{% extends "layout.html" %}
{% block body %}
    <form method=post action="{{ url_for('save_key') }}">
      <dl>
        <dt>{{ _('Name') }}:</dt>
        <dd><input type=text name=name value="{{ key.name }}"></dd>
        <dt>{{ _('Current User') }}:</dt>
        <dd>
            <select name=user>
                {% for user in users %}
                  <option value="{{ user.id }}"
                        {% if user.id == key.user %}selected=selected{% endif %}>
                    {{ user.name }}
                  </option>
                {% endfor %}
            </select>
        </dd>
        <dd><input type=submit value="{{ _('Save') }}"></dd>
        <input name=id value="{{ key.id }}" type=hidden>
        <input type=submit value="{{ _('Submit') }}">
      </dl>
    </form>
{% endblock %}
