{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    {% if not users %}
    <div>
        No users yet to assign keys to. 
        <a href="{{ url_for('new_user') }}">Create one</a>
    </div>
    {% else %}
    <form action="{{ url_for('save_key') }}" method=post class=add-entry>
      <dl>
        <dt>Name:</dt>
        <dd><input type=text name=name></dd>
        <dt>Current User:</dt>
        <dd>
            <select name=user>
                {% for user in users %}
                  <option value="{{ user.id }}">{{ user.name }}</option>
                {% endfor %}
            </select>
        </dd>
        <dd><input type=submit value=Save></dd>
      </dl>
    </form>
    {% endif %}
  {% endif %}
{% endblock %}
