{% extends "layout.html" %}
{% block body %}
  <h2>History of key {{ key.name }}</h2>

  <table class=entries>
      <tr>
          <th>{{ _('Name before') }}</th>
          <th>{{ _('Name after') }}</th>
          <th>{{ _('User before') }}</th>
          <th>{{ _('User after') }}</th>
          <th>{{ _('Update') }}</th>
      </tr>
  {% for key in keys %}
  <tr>
    <td>{{ key.name|safe }}</td>
    <td>{{ key.user_name }}</td>
    <td>{{ key.last_update }}</td>
  </tr>
  {% else %}
    <li><em>{{ _('Unbelievable.  No entries here so far.') }}</em>
  {% endfor %}
  </ul>
{% endblock %}
