{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
  <nav>
      <ul>
          <li><a href="{{ url_for('add_key') }}">Add Key</a></li>
          <li><a href="{{ url_for('add_user') }}">Add User</a></li>
      </ul>
  </nav>
  {% endif %}
  <table class=entries>
  {% for key in keys %}
  <tr>
    <td>{{ key.name|safe }}</td>
    <td>{{ key.date }}</td>
    <td>{{ key.user }}</td>
  </tr>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}
